#accountCreate {
	display: none;
}

#font {
	font-family: "Lucida Sans Unicode";
	color: white;
}
	
#font2 {
	font-family: "Lucida Sans Unicode";
	color: black;
}
	
a:link {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #000000;
}
a:active {
	color: #000000;
}

.flex {
	display: flex;
	justify-content: center;
}

.homeButton {
	font-family: "Lucida Sans Unicode";
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px;
	margin-top: 30px;
	width: 300px;
	border: none;
}

.message {
	color:red;
}

.main {
	float: left;
	margin-top:200px;
	margin-bottom:200px;
	padding: 10px 20px;
	border-radius: 5px;
	background-image: url("stripes.png");
	background-color: #2bd83f;
}

.textInput {
	border-radius: 5px;
}

body {
	background-image: url("hex.png");
	background-color: #ffffff;
}